footer {
    border: none
}

#contact_form .input-dark::-webkit-input-placeholder,
#cu-map-form input::-webkit-input-placeholder,
textarea#form-field-4::-webkit-input-placeholder {
    color: #15354e
}

#contact_form .input-dark::-moz-placeholder,
#cu-map-form input::-moz-placeholder,
textarea#form-field-4::-moz-placeholder {
    color: #15354e
}

#contact_form .input-dark:-ms-input-placeholder,
#cu-map-form input:-ms-input-placeholder,
textarea#form-field-4:-ms-input-placeholder {
    color: #15354e
}

#contact_form .input-dark::-ms-input-placeholder,
#cu-map-form input::-ms-input-placeholder,
textarea#form-field-4::-ms-input-placeholder {
    color: #15354e
}

#contact_form .input-dark::placeholder,
#cu-map-form input::placeholder,
.cu-cities-list li a,
textarea#form-field-4::placeholder {
    color: #15354e
}

.input-wrapper {
    position: relative;
    opacity: 1;
    z-index: auto;
    visibility: visible
}

.input-wrapper:after {
    content: "";
    opacity: 0;
    top: 24px;
    right: 9px;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-left-color: transparent;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-animation-name: rotation;
    animation-name: rotation;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.input-wrapper.open:after {
    opacity: 1
}

#contact_form .input-dark,
#contact_form select,
#contact_form textarea,
.cu-cities-info,
.cu-cities-list-wrp {
    -webkit-box-shadow: 0 0 5px #d1deee !important;
    box-shadow: 0 0 5px #d1deee !important
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none
}

input[type=number] {
    -moz-appearance: textfield
}

.cu-map {
    z-index: 0;
    position: relative;
    top: 0;
    margin-top: -400px
}

.cu-map svg {
    width: 100%
}

@-webkit-keyframes mapPoints {
    0% {
        fill: transparent
    }

    50% {
        fill: #ffffff2e
    }

    100% {
        fill: transparent
    }
}

@keyframes mapPoints {
    0% {
        fill: transparent
    }

    50% {
        fill: #ffffff2e
    }

    100% {
        fill: transparent
    }
}

@-webkit-keyframes circleScale {
    0% {
        stroke-width: .3;
        opacity: .4
    }

    100% {
        stroke-width: 40.3px;
        opacity: 0
    }
}

@keyframes circleScale {
    0% {
        stroke-width: .3;
        opacity: .4
    }

    100% {
        stroke-width: 40.3px;
        opacity: 0
    }
}

@-webkit-keyframes fadeInModal {
    100% {
        opacity: 1
    }
}

@keyframes fadeInModal {
    100% {
        opacity: 1
    }
}

@-webkit-keyframes loading {
    0% {
        max-width: 0;
        color: #F39C12
    }

    100% {
        max-width: 14em;
        color: #F39C12
    }
}

@keyframes loading {
    0% {
        max-width: 0;
        color: #F39C12
    }

    100% {
        max-width: 14em;
        color: #F39C12
    }
}

.cu-map .map-point {
    background-color: transparent;
    border: 1px solid #fff;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: mapPoints;
    animation-name: mapPoints
}

.cu-map .map-point:hover {
    fill: #ffffff2e
}

.cu-map .map-point path {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: circleScale;
    animation-name: circleScale;
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

@-webkit-keyframes circlePulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}

@keyframes circlePulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}

.cu-map .map-point ellipse.pulse {
    opacity: 0;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: circlePulse;
    animation-name: circlePulse;
    -webkit-animation-duration: 5s;
    animation-duration: 5s
}

.cu-map .map-point {
    position: relative
}

header .navbar {
    background: var(--header);
    -webkit-box-shadow: 0 4px 20px rgba(33, 115, 187, .05);
    box-shadow: 0 4px 20px rgba(33, 115, 187, .05)
}

.main-content {
    padding-bottom: 0;
    background: #fafcff;
    width: 100%
}

.cu-top {
    width: 100%;
    overflow: hidden
}

.cu-map-title {
    width: 100%;
    text-align: center
}

.cu-map-title h1 {
    color: #fff;
    font-size: 46px;
    line-height: 80px;
    font-weight: 600
}

.cu-bottom {
    overflow: hidden;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 100px 30px 200px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media (max-width:525px) {
    .cu-bottom {
        overflow: visible
    }
}

.cu-bottom h1 {
    color: transparent;
    width: 100%;
    margin-bottom: 39px;
    padding: 0;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.cu-const-msg {
    border-radius: 12px
}

.cu-const-msg input {
    border-radius: 30px
}

.cu-const-info p {
    color: #15354e;
    line-height: 22px
}

.cu-const-info a {
    color: #15354e;
    line-height: 22px;
    text-decoration: none;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

.cu-const-info a:hover {
    color: #F39C12;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

#cu-map-interface {
    width: 100%;
    position: relative;
    margin: 30px 0 60px
}

#cu-map-image {
    background: url(../../../images/contact-us/map-new.png) no-repeat 50% 90%;
    height: 592px;
    background-size: 1100px
}

#cu-map-list {
    top: -470px;
    position: relative;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 1080px;
    margin: auto
}

.cu-map-item a:hover {
    text-decoration: none
}

.cm-item-image {
    width: 40px;
    height: 40px;
    border-radius: 80px;
    display: inline-block;
    float: left;
    position: relative
}

.cm-item-image:after {
    background: url(../../../images/contact-us/point4x.png) no-repeat;
    content: '';
    position: absolute;
    width: 40px;
    height: 70px;
    border-radius: 80px;
    left: -13px;
    bottom: -38px;
    background-size: 100%
}

.bot-left,
.top-left {
    height: 40px;
    border-radius: 50px;
    display: inline-block;
    background-color: #fff;
    color: #fff
}

.bot-left a,
.top-left a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.bot-left .cm-item-description,
.top-left .cm-item-description {
    font-weight: 600;
    float: left
}

.bot-left .cm-item-description.active,
.top-left .cm-item-description.active {
    padding-left: 20px;
    padding-right: 4px
}

.bot-left .cm-item-image:after {
    background: url(../../../images/contact-us/point4x.png) no-repeat;
    content: '';
    position: absolute;
    width: 40px;
    height: 70px;
    border-radius: 80px;
    left: 13px;
    bottom: -37px;
    background-size: 100%;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.top-left .cm-item-image:after {
    background: url(../../../images/contact-us/point4x.png) no-repeat;
    content: '';
    position: absolute;
    width: 40px;
    height: 70px;
    border-radius: 80px;
    left: 14px;
    bottom: 8px;
    background-size: 100%;
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1)
}

.top-right .cm-item-image:after {
    background: url(../../../images/contact-us/point4x.png) no-repeat;
    content: '';
    position: absolute;
    width: 40px;
    height: 70px;
    border-radius: 80px;
    left: -12px;
    bottom: 7px;
    background-size: 100%;
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1)
}

.cm-item-image:before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    border-radius: 80px;
    left: -6px;
    bottom: -7px
}

.cm-item-description {
    line-height: 13px;
    height: 100%;
    font-weight: 600;
    overflow: hidden;
    opacity: 0;
    width: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    max-width: 0
}

.cm-item-description::after {
    content: " \00a0\f12a ";
    font-size: 80%;
    display: inline-block;
    max-width: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    vertical-align: bottom;
    overflow: hidden
}

.cm-item-description.active {
    opacity: 1;
    width: auto;
    padding-right: 12px;
    padding-left: 4px;
    max-width: 150px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.cm-item-titile {
    padding-top: 1px
}

.cm-item-image .flag {
    background-size: cover !important;
    background-position: 0 !important
}

.cm-item-image .auckland {
    background: url(../../../images/contact-us/flags/flag-melbourne.png) no-repeat
}

.cm-item-image .bangkok {
    background: url(../../../images/contact-us/flags/flag-bangkok.png) no-repeat
}

.cm-item-image .tehran {
    background: url(../../../images/contact-us/flags/flag-tehran.png) no-repeat
}

.cm-item-image .usa {
    background: url(../../../images/contact-us/flags/flag-usa.png) no-repeat
}

.cm-item-image .shanghai {
    background: url(../../../images/contact-us/flags/flag-shanghai.png) no-repeat
}

.cm-item-image .seoul {
    background: url(../../../images/contact-us/flags/flag-seoul.png) no-repeat
}

.cm-item-image .paris {
    background: url(../../../images/contact-us/flags/flag-paris.png) no-repeat
}

.cm-item-image .odessa {
    background: url(../../../images/contact-us/flags/flag-odessa.png) no-repeat
}

.cm-item-image .mumbai {
    background: url(../../../images/contact-us/flags/flag-mumbai.png) no-repeat
}

.cm-item-image .moscow {
    background: url(../../../images/contact-us/flags/flag-moscow.png) no-repeat
}

.cm-item-image .melbourne {
    background: url(../../../images/contact-us/flags/flag-auckland.png) no-repeat
}

.cm-item-image .edinburgh {
    background: url(../../../images/contact-us/flags/flag-edinburgh.png) no-repeat
}

.cm-item-image .barcelona {
    background: url(../../../images/contact-us/flags/flag-barcelona.png) no-repeat
}

.cm-item-image .canada {
    background: url(../../../images/contact-us/flags/flag-canada.png) no-repeat
}

.cm-item-image .malta {
    background: url(../../../images/contact-us/flags/flag-malta.png) no-repeat
}

.cu-map-item {
    position: absolute
}

#cu-map-list .point--los_angeles {
    left: 91px;
    bottom: -67px
}

#cu-map-list .point--shanghai {
    left: 894px;
    bottom: -170px
}

#cu-map-list .point--edinburgh {
    top: -30px;
    right: 612px
}

#cu-map-list .point--spb {
    top: -72px;
    right: 516px
}

#cu-map-list .point--paris {
    top: 53px;
    left: 497px
}

#cu-map-list .point--miami {
    top: 149px;
    left: 210px
}

#cu-map-list .point--toronto {
    top: -6px;
    left: 244px
}

#cu-map-list .point--odessa {
    left: 589px;
    top: -12px
}

#cu-map-list .point--moscow {
    left: 592px;
    top: -59px
}

#cu-map-list .point--new_york {
    top: 99px;
    left: 240px
}

#cu-map-list .point--barcelona {
    top: 24px;
    right: 617px
}

#cu-map-list .point--melbourne {
    right: 148px;
    bottom: -445px
}

#cu-map-list .point--mumbai {
    right: 353px;
    top: 127px
}

#cu-map-list .point--auckland {
    right: 38px;
    bottom: -370px
}

#cu-map-list .point--tehran {
    left: 657px;
    top: 38px
}

#cu-map-list .point--shenzhen {
    right: 224px;
    top: 83px
}

#cu-map-list .point--seoul {
    left: 912px;
    top: 32px
}

#cu-map-list .point--bangkok {
    right: 268px;
    top: 196px
}

#cu-map-list .point--sangwan {
    top: 116px;
    right: 572px
}

.cu-map-form-wrp {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 80px);
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px
}

.cu-cities-info {
    padding: 0;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2
}

@media (min-width:960px) {
    .cu-cities-info {
        max-width: 260px;
        margin-left: 10px
    }
}

.cu-cities-list-wrp {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #fafcff;
    border-radius: 5px
}

@media (min-width:960px) {
    .cu-cities-list-wrp {
        max-width: 200px
    }
}

#cu-map-form {
    width: 100%;
    border-radius: 12px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#cu-map-form .tab-content {
    border: none;
    padding: 0;
    height: 235px
}

#cu-map-form .tab-content>.active {
    border-radius: 5px;
    overflow-y: auto;
    background: #fff;
    position: relative;
    height: 250px
}

.cu-map svg {
    width: 100%
}

#cu-map-form .tab-content h3 {
    margin: 0 0 0 22px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #15354e
}

#cu-map-form .tab-content h3:first-child {
    margin-top: 11px
}

#cu-map-form .tab-content p {
    margin: 0 0 0 22px;
    padding: 0;
    color: #15354e
}

.map-form-title {
    margin: 0;
    width: 100%
}

.pane-item {
    margin: 20px 0;
    position: relative
}

.cu-cities-list {
    list-style: none;
    margin: 0;
    height: 210px;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 0
}

.cu-cities-list li a {
    font-size: 13px
}

.tab-pane.fade {
    display: none;
    opacity: 0;
    visibility: hidden
}

.tab-pane.fade.active {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: opacityIn;
    animation-name: opacityIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

@-webkit-keyframes opacityIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes opacityIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.cu-cities-list::-webkit-scrollbar-track,
.tab-pane::-webkit-scrollbar-track {
    background: 0 0
}

.cu-cities-list::-webkit-scrollbar,
.tab-pane::-webkit-scrollbar {
    width: 4px;
    border-radius: 100px;
    background: 0 0
}

.cu-cities-list::-webkit-scrollbar-thumb,
.tab-pane::-webkit-scrollbar-thumb {
    background: #9eb1c2
}

.cu-cities-list li a {
    color: #15354e;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    padding: 5px 0 5px 10px
}

.cu-cities-list .active a {
    text-decoration: none
}

.cu-cities-list li a:hover {
    color: #15354e;
    font-weight: 600;
    text-decoration: none
}

.cu-cities-list li.active a {
    color: #15354e;
    font-weight: 600
}

#cu-map-form h4 {
    font-weight: 600;
    margin-top: 14px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff
}

.cu-ci-title h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #fff
}

.cu-ci-text {
    padding-top: 10px;
    line-height: 10px
}

.cu-const-info {
    margin-bottom: 20px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 530px
}

#cu-form,
.cu-const-info {
    margin: 0 !important;
    border-radius: 12px;
    padding: 0
}

.cu-info-content {
    border-radius: 5px;
    padding: 0;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.cu-ci-line {
    max-width: 53%;
    line-height: 10px;
    padding: 11px 0 21px 0
}

@media (max-width:525px) {
    .cu-ci-line {
        padding: 0
    }
}

.cu-ci-line a {
    -webkit-transition: .3s ease;
    transition: .3s ease
}

.cu-ci-line a:hover {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: #F39C12
}

.cu-styled-select.slate {
    position: relative;
    max-width: 400px;
    margin: auto
}

.cu-styled-select.slate .icon-angle-down {
    position: absolute;
    right: 50px;
    top: 9px;
    pointer-events: none
}

.cu-styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 14px;
    padding-right: 30px;
    padding-left: 12px;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    font-weight: 500
}

.cu-const-msg .input-dark {
    color: #15354e;
    background-color: #fff;
    font-size: 14px;
    border: none;
    min-width: 200px;
    margin-bottom: 7px;
    border: none;
    padding-left: 11px;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    position: relative;
    font-weight: 500
}

.cu-const-msg .input-dark:before {
    content: 'attr(placeholder) ';
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff
}

.cu-const-msg .custom_input {
    padding-left: 75px
}

#contact_form .cu-const-msg .input-dark:focus {
    background: #fafcff;
    color: #15354e;
    -webkit-transition: all .2s;
    transition: all .2s
}

#contact_form .cu-const-msg .input-dark:focus.focused {
    padding-top: 18px
}

#contact_form .cu-const-msg .input-dark:focus ::-webkit-input-placeholder {
    color: transparent !important
}

#contact_form .cu-const-msg .input-dark:focus ::-moz-placeholder {
    color: transparent !important
}

#contact_form .cu-const-msg .input-dark:focus :-ms-input-placeholder {
    color: transparent !important
}

#contact_form .cu-const-msg .input-dark:focus ::-ms-input-placeholder {
    color: transparent !important
}

#contact_form .cu-const-msg .input-dark:focus ::placeholder {
    color: transparent !important
}

.cu-const-msg .input-dark::-webkit-input-placeholder {
    color: #fff
}

.cu-const-msg .input-dark::-moz-placeholder {
    color: #fff
}

.cu-const-msg .input-dark:-ms-input-placeholder {
    color: #fff
}

.cu-const-msg .input-dark::-ms-input-placeholder {
    color: #fff
}

.cu-const-msg .input-dark::placeholder {
    color: #fff
}

.cu-const-msg .input-dark::-ms-input-placeholder {
    color: #fff
}

.cu-const-msg textarea {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    width: 133%;
    background: #fff;
    border-radius: 5px;
    height: 200px;
    border: none;
    padding: 10px 12px;
    resize: none;
    color: #15354e
}

.cu-const-msg textarea:focus {
    color: #15354e
}

.cu-const-msg textarea::-webkit-input-placeholder {
    color: #fff;
    font-weight: 500
}

.cu-const-msg textarea::-moz-placeholder {
    color: #fff;
    font-weight: 500
}

.cu-const-msg textarea:-ms-input-placeholder {
    color: #fff;
    font-weight: 500
}

.cu-const-msg textarea::-ms-input-placeholder {
    color: #fff;
    font-weight: 500
}

.cu-const-msg textarea::placeholder {
    color: #fff;
    font-weight: 500
}

.cu-map svg path {
    fill: #f0f5fa
}

.cu-input-submit {
    font-size: 14px;
    border: none;
    margin-top: 15px;
    margin-bottom: 0 !important;
    font-weight: 600;
    background-color: #F39C12;
    text-align: center;
    text-decoration: none;
    color: #fff;
    opacity: .95;
    width: 104px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: right;
    line-height: normal !important;
    -webkit-box-shadow: 0 3px 10px rgba(16, 69, 148, .3);
    box-shadow: 0 3px 10px rgba(16, 69, 148, .3);
    border-radius: 5px !important
}

.cu-input-submit:hover {
    background-color: #fff;
    color: #F39C12;
    opacity: 1
}

.cu-input-submit:focus {
    outline: 0
}

.cu-const-msg .cu-styled-select.slate select {
    width: 100%;
    margin-bottom: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: none;
    color: #15354e;
    position: relative
}

.map-form-search {
    position: relative
}

.map-form-search i {
    position: absolute;
    height: 100%;
    max-height: 40px;
    left: 14px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #15354e
}

.map-form-search #search {
    padding-left: 35px
}

.map-form-search #search:focus {
    background-color: transparent
}

@-moz-document url-prefix() {
    .map-form-search {
        margin-left: 0
    }
}

.map-form-search input {
    background-color: #fff;
    border: 1px solid #F39C12;
    border-radius: 5px 5px 0 0;
    padding-left: 12px;
    height: 40px;
    width: 100%;
    color: #15354e
}

.map-form-search input::-webkit-input-placeholder {
    color: #fff
}

.map-form-search input::-moz-placeholder {
    color: #fff
}

.map-form-search input:-ms-input-placeholder {
    color: #fff
}

.map-form-search input::-ms-input-placeholder {
    color: #fff
}

.map-form-search input::placeholder {
    color: #fff
}

.map-form-search input:focus,
.map-form-search input:hover {
    border-color: #15354e;
    color: #15354e
}

.cu-cities-list i.flag {
    margin-right: 8px;
    float: left;
    width: 20px;
    background-size: cover !important;
    background-position: 0 !important;
    height: 20px;
    display: inline-block;
    border-radius: 25px
}

.cu-const-info i.flag {
    margin-right: 8px;
    float: left;
    width: 20px;
    background-size: cover !important;
    background-position: 0 !important;
    height: 20px;
    display: inline-block;
    border-radius: 25px
}

.cu-const-info i.auckland {
    background: url(../../../images/contact-us/flags/flag-auckland.png) no-repeat
}

.cu-const-info i.bangkok {
    background: url(../../../images/contact-us/flags/flag-bangkok.png) no-repeat
}

.cu-const-info i.tehran {
    background: url(../../../images/contact-us/flags/flag-tehran.png) no-repeat
}

.cu-const-info i.usa {
    background: url(../../../images/contact-us/flags/flag-usa.png) no-repeat
}

.cu-const-info i.shanghai {
    background: url(../../../images/contact-us/flags/flag-shanghai.png) no-repeat
}

.cu-const-info i.seoul {
    background: url(../../../images/contact-us/flags/flag-seoul.png) no-repeat
}

.cu-const-info i.paris {
    background: url(../../../images/contact-us/flags/flag-paris.png) no-repeat
}

.cu-const-info i.odessa {
    background: url(../../../images/contact-us/flags/flag-odessa.png) no-repeat
}

.cu-const-info i.mumbai {
    background: url(../../../images/contact-us/flags/flag-mumbai.png) no-repeat
}

.cu-const-info i.moscow {
    background: url(../../../images/contact-us/flags/flag-moscow.png) no-repeat
}

.cu-const-info i.melbourne {
    background: url(../../../images/contact-us/flags/flag-melbourne.png) no-repeat
}

.cu-const-info i.edinburgh {
    background: url(../../../images/contact-us/flags/flag-edinburgh.png) no-repeat
}

.cu-const-info i.barcelona {
    background: url(../../../images/contact-us/flags/flag-barcelona.png) no-repeat
}

.cu-const-info i.canada {
    background: url(../../../images/contact-us/flags/flag-canada.png) no-repeat
}

.cu-const-info i.malta {
    background: url(../../../images/contact-us/flags/flag-malta.png) no-repeat
}

.cu-cities-list i.auckland {
    background: url(../../../images/contact-us/flags/flag-auckland.png) no-repeat
}

.cu-cities-list i.bangkok {
    background: url(../../../images/contact-us/flags/flag-bangkok.png) no-repeat
}

.cu-cities-list i.tehran {
    background: url(../../../images/contact-us/flags/flag-tehran.png) no-repeat
}

.cu-cities-list i.usa {
    background: url(../../../images/contact-us/flags/flag-usa.png) no-repeat
}

.cu-cities-list i.shanghai {
    background: url(../../../images/contact-us/flags/flag-shanghai.png) no-repeat
}

.cu-cities-list i.seoul {
    background: url(../../../images/contact-us/flags/flag-seoul.png) no-repeat
}

.cu-cities-list i.paris {
    background: url(../../../images/contact-us/flags/flag-paris.png) no-repeat
}

.cu-cities-list i.odessa {
    background: url(../../../images/contact-us/flags/flag-odessa.png) no-repeat
}

.cu-cities-list i.mumbai {
    background: url(../../../images/contact-us/flags/flag-mumbai.png) no-repeat
}

.cu-cities-list i.moscow {
    background: url(../../../images/contact-us/flags/flag-moscow.png) no-repeat
}

.cu-cities-list i.melbourne {
    background: url(../../../images/contact-us/flags/flag-melbourne.png) no-repeat
}

.cu-cities-list i.edinburgh {
    background: url(../../../images/contact-us/flags/flag-edinburgh.png) no-repeat
}

.cu-cities-list i.barcelona {
    background: url(../../../images/contact-us/flags/flag-barcelona.png) no-repeat
}

.cu-cities-list i.canada {
    background: url(../../../images/contact-us/flags/flag-canada.png) no-repeat
}

.cu-cities-list .uae {
    background: url(../../../images/contact-us/flags/flag-uae.png) no-repeat
}

.cu-cities-list .dominican {
    background: url(../../../images/contact-us/flags/flag-dominican.png) no-repeat
}

.cu-cities-list .gb {
    background: url(../../../images/contact-us/flags/flag-gb.png) no-repeat
}

.cu-cities-list .luxembourg {
    background: url(../../../images/contact-us/flags/flag-luxembourg.png) no-repeat
}

.cu-cities-list i.malta {
    background: url(../../../images/contact-us/flags/flag-malta.png) no-repeat
}

.cu-cities-list i.lebanon {
    background: url(../../../images/contact-us/flags/flag-lebanon.png) no-repeat
}

.cu-cities-list i.hungary {
    background: url(../../../images/contact-us/flags/flag-hungary.png) no-repeat
}

.cu-cities-list i.poland {
    background: url(../../../images/contact-us/flags/flag-poland.png) no-repeat
}

.cu-cities-list i.portugal {
    background: url(../../../images/contact-us/flags/flag-portugal.png) no-repeat
}

.cu-cities-list i.turkey {
    background: url(../../../images/contact-us/flags/flag-turkey.png) no-repeat
}

.cu-cities-list i.unarem {
    background: url(../../../images/contact-us/flags/flag-unarem.png) no-repeat
}

.cu-cities-list i.georgia {
    background: url(../../../images/contact-us/flags/flag-georgia.png) no-repeat
}

.cu-const-msg .cu-styled-select.slate .icon-angle-down {
    top: 18px;
    right: 10px;
    color: #15354e
}

.cu-backdrop.active {
    pointer-events: none;
    opacity: 0
}

.bottom-line-custom .bottom-line-custom-title {
    color: #fff;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0
}

.cu-top-title {
    color: #fff;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px 0 0
}

.pane-item-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.local-clock {
    margin-right: 0;
    font-size: 12px;
    color: #15354e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding: 0 18px;
    position: absolute;
    right: 0;
    top: 0
}

.contact-i-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

@media (max-width:525px) {
    .contact-i-left {
        margin-bottom: 20px
    }
}

.logistics-block {
    height: 100px;
    padding-top: 7px
}

@media (max-width:768px) {
    .logistics-block {
        height: inherit;
        padding: 20px 0
    }
}

.logistics-block .sub-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    min-width: 200px;
    color: #15354e
}

@media (max-width:425px) {
    .logistics-block .sub-title {
        font-size: 14px;
        min-width: 160px
    }
}

.logistics-block a.phone {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #F39C12;
    cursor: pointer;
    text-decoration: none
}

@media (max-width:425px) {
    .logistics-block a.phone {
        font-size: 14px
    }
}

.contact-i-right {
    width: 470px
}

.contact-i-right>h3 {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 40px;
    color: #15354e;
    margin: 0;
    padding-top: 75px
}

.cu-ci-title {
    width: 96%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px
}

.main-country {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.main-country i {
    width: 26px !important;
    height: 26px !important;
    margin-left: 6px
}

.mc-name {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 700
}

#cu-map-form .tab-content p a {
    color: #15354e;
    font-size: 12px
}

#cu-form .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#cu-form .form-row .form-col {
    width: 400px;
}

#cu-form .form-row .form-col:last-child {
    margin-left: 20px
}

h4 {
    color: #15354e;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 14px;
    padding-bottom: 16px
}

label.error {
    font-size: 12px;
    width: 100%;
    color: #fff;
    background-color: #0662ce;
    border-radius: 0 0 5px 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    top: -10px;
    -webkit-animation: errorIn .2s forwards;
    animation: errorIn .2s forwards;
    font-weight: 500
}

@-webkit-keyframes errorIn {
    0% {
        height: 0
    }

    100% {
        height: 24px
    }
}

@keyframes errorIn {
    0% {
        height: 0
    }

    100% {
        height: 24px
    }
}

.cu-map .map-point {
    background-color: transparent;
    border: 1px solid #15354e;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.dynamic-placeholder {
    position: relative
}

.dynamic-placeholder input:focus {
    padding-top: 14px;
    font-weight: 500;
    color: #15354e
}

.dynamic-placeholder .dynamic-placeholder-text {
    position: absolute;
    top: 4px;
    left: 11px;
    font-size: 10px;
    margin-bottom: 5px;
    display: inline-block;
    color: #15354e
}

.input-dark.focused+.dynamic-placeholder-text {
    -webkit-animation: fadein 1s;
    animation: fadein 1s
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.main-title {
    color: transparent
}

.main-title:before {
    content: attr(data-text);
    color: #F39C12;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width:1200px) {
    .cu-bottom.container {
        padding-left: 0;
        padding-right: 0;
        overflow: visible;
        width: 100%;
        max-width: 95%
    }

    .contact-i-left,
    .contact-i-right {
        width: 49%
    }

    .contact-i-right {
        margin-left: 2%
    }
}

@media (max-width:992px) {
    .cu-const-msg textarea {
        padding: 10px 12px
    }

    .bottom-line-custom.container-fluid {
        padding: 0 30px
    }

    .contact-i-left,
    .contact-i-right {
        width: 100%
    }

    .cu-bottom.container {
        max-width: 100%
    }

    .cu-styled-select.slate {
        max-width: 100%
    }

    #cu-form .form-row .form-col {
        width: 100%
    }

    .cu-const-info {
        width: 100%;
        max-width: 100%
    }

    .cu-ci-line,
    .cu-ci-text {
        width: 50%
    }

    .contact-i-wrp {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    #cu-form .form-row .form-col:last-child {
        margin-left: 2%
    }

    .cu-input-submit {
        margin-top: 30px
    }

    .fade.in .contact-i-left {
        margin-bottom: 30px
    }

    .contact-i-wrp .contact-i-right {
        width: 100%;
        margin-left: 0
    }

    .cu-cities-list-wrp {
        max-width: 49%
    }

    .cu-cities-info {
        margin-left: 10px
    }
}

@media (max-width:768px) {
    .cu-bottom.container {
        padding-left: 0;
        padding-right: 0;
        overflow: visible
    }

    .contact-i-left {
        width: 100%
    }

    #cu-form .form-row .form-col {
        width: 50%
    }

    .cu-ci-line,
    .cu-ci-text {
        width: 50%
    }
}

@media (max-width:767px) {
    .cu-cities-list-wrp {
        max-width: 100%
    }

    .cu-cities-info {
        margin-left: 0
    }

    .cu-bottom.container {
        padding-bottom: 0
    }
}

@media (max-width:425px) {
    .bottom-line-custom.container-fluid {
        padding: 0 20px
    }

    .contact-i-left {
        margin-bottom: 20px
    }
}

@media screen and (max-width:767px) {
    .map-form-search {
        margin-bottom: 0 !important;
        padding-bottom: 20px;
        background-color: #fff
    }
}

.iti {
    width: 100%
}

.iti ::-webkit-scrollbar {
    width: 0;
    height: 0
}

.iti__country.iti__highlight {
    background-color: #f8fcff
}

.iti__divider {
    display: none
}

.iti__country {
    border-bottom: 1px solid #ecf2f9;
    font-weight: 500;
    font-size: 12px;
    padding: 7px 5px 7px 10px
}

@media (max-width:767px) {
    .iti__country {
        font-size: 14px
    }
}

.iti__country-list {
    max-width: 530px;
    width: 100%;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 0 4px 10px rgba(48, 106, 159, .15);
    box-shadow: 0 4px 10px rgba(48, 106, 159, .15)
}

@media (max-width:992px) {
    .iti__country-list {
        max-width: calc(100% - 60px)
    }
}

@media (max-width:425px) {
    .iti__country-list {
        max-width: calc(100% - 40px)
    }
}

.iti__flag-box {
    margin-right: 8px
}

.iti__dial-code {
    color: #a0b3c9
}

.iti__selected-flag {
    max-height: 45px
}

.iti__selected-dial-code {
    color: #15354e;
    font-size: 14px;
    font-weight: 500
}

@media (max-width:767px) and (min-width:425px) {
    .iti__selected-dial-code {
        font-size: 18px
    }
}

.custom_input {
    padding-left: 75px
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)
}

@media screen and (max-width:1200px) {
    .contact-i-right {
        width: 530px
    }

    .cu-cities-info {
        max-width: initial
    }

    .cu-bottom h1 {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .contact-i-wrp {
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media screen and (max-width:1100px) {
    #cu-map-image {
        display: none
    }
}

@media screen and (max-width:1060px) {
    .cu-bottom {
        width: 100%
    }

    .cu-const-msg .input-dark {
        min-width: initial
    }

    .cu-const-msg .cu-styled-select.slate .icon-angle-down {
        display: none
    }
}

@media screen and (max-width:767px) {
    .cu-map {
        display: none
    }

    .local-clock {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        padding-left: 23px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 16px 0;
        background-color: #007ffa;
        color: #fff;
        font-weight: 500
    }

    .pane-item {
        position: relative;
        border-radius: 10px;
        padding: 10px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fafcff;
        margin: 20px 0
    }

    #cu-map-form .tab-content h3 {
        font-size: 28px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin: 0;
        text-align: center
    }

    #cu-map-form .tab-content p {
        font-size: 16px;
        line-height: 20px;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        padding-bottom: 10px
    }

    #cu-map-form .tab-content p a {
        font-size: 16px
    }

    #cu-map-form .tab-content>.active {
        margin: 0;
        height: auto;
        background-color: transparent
    }

    #cu-map-form .tab-content {
        height: auto
    }

    #cu-map-form {
        width: 100%
    }

    .cu-dark-line {
        width: 95%
    }

    .cu-styled-select.slate {
        max-width: 300px
    }

    .cu-const-msg {
        margin-top: 20px
    }

    .cu-const-msg .cu-styled-select.slate select {
        line-height: 30px;
        width: 100%;
        font-size: 18px
    }

    .cu-const-msg .cu-styled-select.slate {
        width: 100%;
        max-width: 100%
    }

    .cu-const-msg .input-dark {
        width: 100%;
        min-width: initial;
        line-height: 30px
    }

    #cu-map-form h4 {
        text-align: center;
        margin-bottom: 30px
    }

    .map-form-search {
        margin: 0 0 20px 0
    }

    .map-form-search input {
        width: 100%;
        line-height: 30px;
        font-size: 24px
    }

    .cu-const-msg input {
        line-height: 40px;
        width: 100%;
        height: 40px;
        font-size: 18px
    }

    .cu-styled-select.slate select {
        line-height: 30px
    }

    #cu-map-form .tab-content {
        padding: 20px 0
    }

    #cu-map-form .tab-content>.active {
        max-height: initial
    }

    .cu-cities-list li a {
        font-size: 20px
    }

    .cu-dark-line p {
        font-size: 18px
    }

    .cu-cities-info {
        width: 100%
    }

    .local-clock {
        font-size: 20px
    }

    .cu-const-msg .input-dark,
    .cu-const-msg textarea {
        font-size: 18px
    }
}

@media screen and (max-width:570px) {
    .cu-bottom {
        padding: 40px 0 30px
    }

    .cu-info-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .contact-i-right {
        width: auto;
        max-width: 467px
    }

    #cu-form .form-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    #cu-form .form-row .form-col {
        width: 100%
    }

    #cu-form .form-row .form-col:last-child {
        margin: 0
    }
}

@media (max-width:425px) {

    .cu-cities-list li a,
    .cu-const-msg .cu-styled-select.slate select,
    .cu-const-msg .input-dark,
    .cu-const-msg textarea,
    .map-form-search input {
        font-size: 14px
    }
}

/*# sourceMappingURL=/design/maps/contact/index/contact-us.css.map.gz */
