.titles {
    display: flex;
    max-width: 426px;
    margin: 0 auto;
    border-bottom: 1px solid #C9CFDB;

    &__item {
        position: relative;
        flex: 1;
        padding: 12px 5px;
        border: none;
        background-color: transparent;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        color: #908F8F;
        transition: color .3s ease;

        &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #444;
            opacity: 0;
            transition: opacity .3s ease;

            @include min(laptop) {
                background-color: #E78200;
            }
        }

        &.active {
            color: #090808;

            @include min(laptop) {
                color: #E78200;
            }

            &::before {
                opacity: 1;
            }
        }
    }
}